@import "tailwindcss";

@layer base {
  :root {
    --primary: #4d7c47;
    --background-light: #f8fafc;
    --background-dark: #171b17;
    --background: var(--background-light);
    --foreground: #020617;
  }

  .dark {
    --background: var(--background-dark);
    --foreground: #f8fafc;
  }
}

@theme inline {
  --color-primary: var(--primary);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Plus Jakarta Sans', sans-serif;
}
